code/uhi_index_analytics/notebook/.ipynb_checkpoints

# Ignore Python cache files
*.pyc
*.pyo
__pycache__

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints

# Ignore virtual environment directories
**/.venv

code/uhi_index_analytics/py39_venv
code/uhi_index_analytics/unix_venv

# Ignore data directories - multiple pattern formats to ensure they work
/data/
/hdfs_data/
data/
hdfs_data/
**/data/
**/hdfs_data/
code/uhi_index_analytics/data_pipeline_test/cache
code/uhi_index_analytics/notebook/energy
code/uhi_index_analytics/notebook/extree
code/uhi_index_analytics/notebook/extree2
code/uhi_index_analytics/notebook/extree3

# Ignore specific data file types if needed
*.csv
*.parquet
*.json
*.dat